/* FONTS IMPORT */
/* ------------------------------------------------------- */
@font-face {
  font-family: 'Sora';
  src: url('fonts/Sora-Regular.woff2') format('woff2'),
    url('fonts/Sora-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Sora';
  src: url('fonts/Sora-Italic.woff2') format('woff2'),
    url('fonts/Sora-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Sora';
  src: url('fonts/Sora-Bold.woff2') format('woff2'),
    url('fonts/Sora-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Sora';
  src: url('fonts/Sora-BoldItalic.woff2') format('woff2'),
    url('fonts/Sora-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('fonts/SpaceGrotesk-Light.woff2') format('woff2'),
    url('fonts/SpaceGrotesk-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('fonts/SpaceGrotesk-Regular.woff2') format('woff2'),
    url('fonts/SpaceGrotesk-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('fonts/SpaceGrotesk-Medium.woff2') format('woff2'),
    url('fonts/SpaceGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('fonts/SpaceGrotesk-Bold.woff2') format('woff2'),
    url('fonts/SpaceGrotesk-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('fonts/SpaceGrotesk[wght].woff2') format('woff2'),
    url('fonts/SpaceGrotesk[wght].woff') format('woff');
  font-weight: 300 700;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceMono';
  src: url('fonts/SpaceGrotesk[wght].woff2') format('woff2'),
    url('fonts/SpaceGrotesk[wght].woff') format('woff');
  font-weight: 300 900;
  font-style: monospace;
}

/* VARIABLES */
/* ------------------------------------------------------- */
:root {
  /* COLORS */
  /* ----------------------------------------------------- */
  --white: #f9fcfd;
  --black: #100c53;
  --blue: #0000c2;
  --green: #46eca1;
  --purple: #8330ff;
  --gray-50: #f2f3f8;
  --gray-100: #e7eaf2;
  --gray-200: #cfd0dc;
  --gray-300: #b4b4c7;
  --gray-400: #dbdaeb;
  --gray-500: #787696;
  --gray-600: #636188;
  --gray-700: #4a4878;
  --gray-800: #332f66;
  --gray-900: #1e1a5a;
  --error: #ff568d;
  --warning: #ffb756;

  /* FONT */
  /* ----------------------------------------------------- */
  --font-body: 'Sora', 'ui-sans-serif', 'system-ui', '-apple-system',
    'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial',
    'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-headline: 'SpaceGrotesk', 'ui-sans-serif', 'system-ui', '-apple-system',
    'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial',
    'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-monospace: 'SpaceMono', monospace;

  /* RESPONSIVE SIZES */
  /* ----------------------------------------------------- */
  --xs: 20rem;
  --sm: 24rem;
  --md: 28rem;
  --lg: 32rem;
  --xl: 36rem;

  /* LAYOUT */
  /* ----------------------------------------------------- */
  --content-max-width: 900px;
  --hero-bg-color: var(--purple);
}

/* BASE */
/* ------------------------------------------------------- */
html {
  font-size: 4px;
}

body {
  font-size: 4rem;
}

body,
html {
  background-color: var(--white);
  font-family: var(--font-body);
}

main {
  max-width: 100vw;
  overflow-x: hidden;
}

html.no-scroll {
  overflow: hidden;
}

/* RECURENT */
/* ------------------------------------------------------- */
a,
.prose a {
  color: var(--blue);
  transition: color 200ms ease-out, opacity 200ms ease-out,
    text-decoration-color 200ms ease-out;
  text-decoration: underline;
  text-decoration-color: var(--green);
}

.prose p pre,
.prose p code,
.prose .tag {
  font-family: var(--font-monospace);
  font-weight: normal;
  display: inline-block;
  padding: 3px 4px;
  line-height: 120%;
  font-size: 105%;
  border-radius: 3px;
  background: var(--gray-100);
  color: var(--gray-800);
}

.prose p code::before,
.prose p code::after {
  content: '';
}

.prose .emoji {
  font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  display: inline-block;
  margin-right: 2rem;
}

.prose .tag {
  font-family: var(--font-body);
  font-size: 95%;
}

.prose .tag::before {
  content: '';
  width: 4rem;
  height: 4rem;
  display: inline-block;
  background: var(--data-color);
  vertical-align: middle;
  margin-right: 3px;
  border-radius: 3px;
  transform: translateY(-1px);
}

a:hover {
  color: var(--purple);
}

button a:focus,
a:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--white), 0 0 0 6px var(--green);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headline);
}

button a {
  text-decoration: none;
  font-size: inherit;
  color: var(--black);
}

button:hover a {
  color: var(--purple);
}

.white-dot-pattern {
  background-color: var(--white);
  background-image: url('images/patterns/white.svg');
}

.black-dot-pattern {
  background-color: var(--black);
  background-image: url('images/patterns/black.svg');
}

/* LAYOUT */
/* ------------------------------------------------------- */
main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1fr auto;
}

/* HEADER */
/* ----------------------------------------------------- */
header {
  display: grid;
  align-items: center;
}

header > section {
  padding: 24rem 6rem 12rem;
  max-width: var(--content-max-width);
  margin: 0 auto;
  color: var(--white);
  width: 100vw;
  position: relative;
}

@media screen and (min-width: 640px) {
  header > section {
    padding: 26rem 12rem 42rem;
  }
}

@media screen and (min-width: 900px) {
  header > section {
    padding: 28rem 14rem 42rem;
  }
}

@media screen and (min-width: 1024px) {
  header > section {
    padding: 30rem 16rem 42rem;
  }
}

header a {
  color: var(--white);
}

header a:hover {
  color: var(--green);
  text-decoration-color: var(--purple);
}

header a:focus {
  box-shadow: 0 0 0 3px var(--black), 0 0 0 6px var(--green);
}

.header-logo {
  display: inline-flex;
  transition: opacity 200ms ease-out;
  position: relative;
  gap: 4rem;
  font-size: 5rem;
  text-decoration: none;
  font-style: italic;
  align-items: center;
  line-height: 100%;
}

.header-logo > span {
  opacity: 0.8;
  transition: opacity 200ms ease-out, color 200ms ease-out;
}

.header-logo:hover > img {
  opacity: 0.6;
  transition: opacity 200ms ease-out;
}

.header-logo:hover > span {
  opacity: 0.4;
  color: var(--white);
}

.header-title {
  font-size: 8rem;
  line-height: 9rem;
  font-weight: 700;
  margin-bottom: 4rem;
  margin-top: 8rem;
  position: relative;
}

.header-text {
  font-size: 5rem;
  line-height: 6rem;
  position: relative;
}

.header-footnote {
  font-size: 4rem;
  line-height: 6rem;
  position: relative;
  margin-top: 3rem;
  opacity: .8;
}

@media screen and (min-width: 1024px) {
  .header-title {
    font-size: 12rem;
    line-height: 14rem;
  }
  .header-text {
    font-size: 6rem;
    line-height: 8rem;
  }
}

.header-hero-img,
.header-hero-color {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.4;
  z-index: 0;
}

.header-hero-color {
  background: var(--hero-bg-color);
  opacity: 0.8;
  mix-blend-mode: color;
  pointer-events: none;
  z-index: 0;
}

/* CONTENT */
/* ------------------------------------------------------- */
.content-container {
  position: relative;
}


/* CONTAINERS */
/* ------------------------------------------------------- */
.container {
  padding: 10rem 10rem 10rem;
  max-width: var(--content-max-width);
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

@media screen and (min-width: 640px) {
  .container {
    padding: 10rem 12rem;
  }
}

@media screen and (min-width: 900px) {
  .container {
    padding: 12rem 14rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 14rem 16rem;
  }
}

/* FOOTER */
/* ------------------------------------------------------- */
footer {
  position: relative;
  font-size: 3.5rem;
  line-height: 4rem;
}

/* FINANCE */
/* ------------------------------------------------------- */
.finance {
  background: var(--white);
  position: relative;
  z-index: 1;
}

.finance > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
}

.finance > ul > li {
  display: flex;
  flex-direction: column;
  font-size: 3.5rem;
  color: var(--gray-700);
  gap: 4rem;
}

.finance > ul > li img {
  height: 10rem;
}

/* CREDITS */
/* ------------------------------------------------------- */
.credits {
  background: var(--gray-50);
}

.credits .container {
  padding-top: 6rem;
  padding-bottom: 6rem;
  color: var(--gray-500);
  font-size: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.credits .links {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.credits a {
  color: var(--gray-500);
}

.credits a:hover {
  color: var(--blue);
}
